aiogram==3.4.1
environs==9.5.0
python-dotenv==1.0.1
aiohttp==3.10.11
asyncpg==0.30.0
SQLAlchemy==2.0.30
alembic==1.13.2
psycopg2-binary==2.9.10
aiosqlite==0.19.0
python-multipart==0.0.6
python-dateutil==2.9.0
pytz==2024.1
pydantic-core==2.20.0 --only-binary :all:
pydantic==2.6.4 --only-binary :all:
